.css_song_card_item_div{
    height:53dp|720:120px;
    padding: 7dp|720:15px 18dp 7dp|720:15px 9dp|720:20px;
    overflow: hidden;
    display: block;
}

.css_song_card_item_img{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0px;
    background-size: cover;
    background-position: center center;
}

.css_song_card_item_img_container{
    width:53dp|720:120px;
    height:53dp|720:120px;
    float:left;
    position: relative;
    margin: 0px 9dp 0px 4dp|720:10px;
    text-align: center;
    overflow: hidden;
    background-image: url("./song/res/ic_mainpage_song_default.png");
	background-size: 100% 100%;
    background-repeat: no-repeat;
}

.css_song_card_item_brief_div{
    text-align: left;
	font-size: 12dp|720:28px;
	height: 24dp|720:54px;
	line-height: 24dp|720:54px;
	font-size:14dp|720:32px;
    color: rgba(30,30,30,0.8);
	background-size: 100% 100%;
	overflow: hidden;
    vertical-align: baseline;
}

.song_card_book_item_name_text {
	display: block;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.css_song_card_item_brief_div2{
    height: 23dp|720:52px;
    line-height: 23dp|720:52px;
    overflow: hidden;
    vertical-align: baseline;
    font-size:12dp|720:27px;
    color: rgba(30,30,30,0.6);
    margin-top: 4dp|720:8px;
    word-break: break-all;
    text-overflow: ellipsis;
}


.css_song_card_bottom_change_div {
	display: inline-block;
	width: 50%;
	height: 36dp|720:80px;
	position: relative;
	font-size: 14dp|720:32px;
	color: #515151;
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.css_song_card_bottom_change_div:after {
	content: '';
	position: absolute;
	width: 1px;
	background-color: rgba(0,0,0,0.12);
	right: 0;
	top: 8dp|720:20px;
	bottom: 8dp|720:20px;
}
.css_song_card_bottom_get_more_div {
	display: inline-block;
	width: 50%;
	height: 36dp|720:80px;
	font-size: 14dp|720:32px;
	color: #515151;
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}


.song_card_content_white {
    position: relative;
    background-color: white;
}

.css_dialog_song_card_loading {
    position: absolute;
    top: 50%;
    left: 0px;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    width: 100%;
    height: 40dp;
    text-align: center;
}

.css_dialog_song_card_loading_img {
    vertical-align:middle;
    width: 20dp;
    height: 20dp;
}

.css_dialog_song_card_loading_txt {
    height: 40dp;
    line-height: 40dp;
    text-align: center;
    font-size: 12dp|720:28px;
    color: #878787;
    display: inline-block;
    vertical-align:middle;
    margin-left: 11dp;
}

.css_dialog_song_no_data {
    width: 100%;
    height: 251dp|720:570px;
    position: relative;
}

.css_song_card_content_wrapper{
    position: relative;
    height: 194dp|720:440px;
    margin-top: 4dp|720:10px;
    overflow: hidden;
}

.css_song_bottom_container_div{
    margin-top: 4dp|720:10px;
    height: 36dp|720:80px;
    line-height: 36dp|720:80px;
    position: relative;
}

.css_song_bottom_container_div:before{
    height: 1px;
    background-color: rgba(0,0,0,0.12);
    position: absolute;
    top: -1px;
    left: 13dp;
    content: '';
    right: 13dp;
}

.css_song_card_failertext {
    font-size: 12dp|720:28px;
    color: #878787;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.css_song_card_bottom_shadow {
    height: 1px;
    background-color: rgba(0,0,0,0.08);
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
}

.css_song_card_item_shadow {
    height: 1px;
    background-color: rgba(228,233,239,1.0);
    position: relative;
    margin-left: 70dp|720:159px;
    bottom: 0px;
    width: 100%;
}


.css_song_card_play_img{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0px;
    background-size: cover;
    background-position: center center;
}

.css_song_card_play_img_container{
    width:24dp|720:55px;
    height:24dp|720:55px;
    margin-top: 15dp|720:34px;
    float:right;
    position: relative;
    right: 0px;
    text-align: center;
    background-image: url("./song/res/btn_play_nor.png");
	background-size: 100% 100%;
    background-repeat: no-repeat;
}