html, body {
  width: 320dp|720:720px;
  height: 100%;
  padding: 0px;
  margin: 0px;
  border: 0px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}		
body {
  background-color: #F2F2F2;
  -webkit-font-smoothing: antialiased;
}
.top {
  height: 11dp;
}
.page {
  position: absolute;
  width: 320dp;
  top: 0px;
  left:0px;
  padding-top: 6dp;
  padding-bottom:6dp;
}

/******************气泡动画********************/
/*******使用transition而不使用animation，是因为在某些android手机上animation动画结束时会出现闪烁********************/
.css_dialog_opacity_anim{
  -webkit-backface-visibility: hidden;
  -webkit-transition: opacity 0.3s ease;
}
.css_dialog_translate_anim{
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.15s ease-in-out;
}

.box_out {
    margin-top:0;
    margin-right:8dp|320:9px;
    margin-bottom:6dp;
    margin-left:8dp|320:9px;
	padding: 1px;
	background-color: #DCDDE0;
	border-radius: 10px;
}
.box_inner {
	padding: 1px;
	background-color: #C7C8CB;
	border-radius: 9px;
}
.box_content_white {
  position: relative;
  background-color: white;
  border-radius: 8px;
}
.box_content_yellow {
  position: relative;
  background-color: #fef4e8;
  border-radius: 8px;
}
/**************************/
.show_div {
  margin-top:4dp|720:10px;	
}
.css_dialog_question_text {
  word-break:break-word;
  color: #515151;
  padding: 14dp 15dp;
  font-size: 16dp;
  
  outline: none;
  border-radius: 8px 8px 0 8px;
}
.css_dialog_answer_text {
  font-size: 16dp;
  word-break:break-word;
  color: #515151;
}
.css_answer_text_whith_share{
  word-break:break-word;
  width:272dp;
  padding: 14dp 15dp;
}
.css_dialog_answer_sharePlayDiv {
  border-top: solid 1px #e5e5e5;
  text-align: right;
  padding: 5dp 14dp;
  color: #515151;
  font-size: 12dp;
}
/*底部按钮文本所用样式*/
.btn_text{
    color: #515151;
    text-align: center;
    padding: 3px;
    height: 44dp|720:100px;
    line-height: 44dp|720:100px;
    font-size: 17dp|720:38px;
}
/**************************/
.chat_corner_left {
	position: absolute;
	left: -12px;
	bottom: -3px;
}
.chat_corner_right {
	position: absolute;
	right: -12px;
	bottom: -3px;
}
.css_dilaog_out_div {
  position: relative;
  margin-top: 0;
  margin-bottom: 6dp;
  margin-left: 8dp;
  margin-right: 8dp;
}


/**
 * 	App 业务相关样式文件
 */
.main_list_inner{
}
.main_list_item{
}
